<div class="row">
	<div class="col-md-6">
		<div class="all-views-highscore-header panel panel-default">
			<div class="panel-heading table">
				<span class="user-all-time-wpm record-header">Fastest Typists  | </span>
				<span class="user-recent-wpm record-header">Recent Leaders  | </span>
				<span class="user-total-races record-header">Total Races</span>
			</div>
			<table class="all-pages-show-scores table table-striped">
				<tr>
					<th>
						#
					</th>
					<th>
						User
					</th>
					<th>
						<%= category == "races" ? "Total Races" : "Speed" %>
					</th>
				</tr>
				<% _.each(list, function(score, i) { %>
					<tr class="hof-user" data-racer="<%- score.escape("username") %>">
						<td><%= i + 1 %></td>
						<td><%= score.escape("username") %></td>
						<td><%- score.escape(category) %> wpm</td>
					</th>
				<% }) %>
			</table>
			</div>
		</div>
	</div>
</div>

<div class="user-modal"></div>