<h1><%= user.escape("username") %></h1>
<table class="table table-striped">
	<tr>
		<td>Average WPM: </td><td><%= user.escape("wpm_avg") %></td>
	</tr>
	<tr>
		<td>Best Race: </td><td><%= user.escape("best_race") %></td>
	</tr>
	<tr>
		<td>Races Completed: </td><td><%= user.escape("total_races") %></td>
	</tr>
	<tr>
		<td>Skill Level: </td><td><%= user.escape("skill_level") %></td>
	</tr>
	<tr>
		<td>Joined: </td><td><%= user.escape("start_date") %></td>
	</tr>
</table>