High Scores


<% [@all_time_leaders, @recent_leaders].each do |list| %>
	<table>
		<tr>
			<th> </th><th>User</th><th>Speed</th><th>Time</th>
		</tr>
	<% list.each_with_index do |all_time_leader, i| %>
		<tr>
			<td><%= i + 1 %></td>
			<td><%= all_time_leader.user.username %></td>
			<td><%= all_time_leader.wpm %> wpm</td>
			<td><%= time_ago_in_words(all_time_leader.created_at) %> ago</td>
		</tr>
	<% end %>
	</table>
<% end %>

<%= link_to "Practice", new_heat_url(num_racers: 1) %>