<ul class="nav navbar-nav">
	<% if signed_in? %>
		<div id="current_user"
		     data-name="<%= current_user.username %>"
				 data-id="<%= current_user.id %>">
 		</div>
		  <li>
				<%= link_to "Log out", session_url, method: :delete %>
			</li>

	<% else %>
		<div id="current_user"
		  	 data-name="Guest"
		     data-id="<%= session[:token] ||= SecureRandom.base64 %>">
    <li>
		  <%= link_to "Sign in", new_session_url %>
		</li>
		<li>
			<%= link_to "Sign up", new_user_url %>
		</li>
	<% end %>
</ul>

<ul class="nav navbar-nav navbar-right">
	<div class="navbar-brand">
		<%= (current_user && current_user.username) || "Guest" %>
	<div>
</ul>