<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="https://s3-us-west-1.amazonaws.com/typedasher/sprinter.ico">
	<title>TypeDasher</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body role="document">
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<a href="/"><img class="navbar-brand" src="https://s3-us-west-1.amazonaws.com/typedasher/white_label2.png" alt="TypeDasher" /></a>
		  <%= render "layouts/nav_bar" %>
		</div>
	</div>

	<div class="container theme-showcase" role="main" id="content">
		<% if flash.now[:errors] %>
			<% flash.now[:errors].each do |error| %>
				<%= error %>
			<% end %>
		<% end %>
		<%= yield %>
	</div>

</body>
</html>