<!DOCTYPE html>
<html>
<head>
  <title>TypeRacer</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<a class="navbar-brand" href"#">CodeSprint</a>
		<%= render "layouts/user_data" %>
		</div>
	</div>

<a href="#heats/new">Start a new game</a>

<% if flash.now[:errors] %>
	<% flash.now[:errors].each do |error| %>
		<%= error %>
	<% end %>
<% end %>

<%# image_tag "megaman.gif" %>

<div class="jumbotron" id="content">
	<%= yield %>
</div>

</body>
</html>