<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="https://s3-us-west-1.amazonaws.com/typedasher/sprinter.ico">
	<title>TypeDasher</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<img class="navbar-brand" src="https://s3-us-west-1.amazonaws.com/typedasher/Logo_no_tagline.png" alt="TypeDasher" />
		<%= render "layouts/nav_bar" %>
		</div>
	</div>

<a href="/#heats/new">Start a new game</a>

<% if flash.now[:errors] %>
	<% flash.now[:errors].each do |error| %>
		<%= error %>
	<% end %>
<% end %>

<div class="jumbotron" id="content">
	<%= yield %>
</div>

</body>
</html>