<!DOCTYPE html>
<html>
<head>
  <title>TypeRacer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if signed_in? %>

		<div id="current_user" data-name="<%= current_user.username %>" data-id="<%= current_user.id %>">
	  <%= current_user.username %>
	  <%= button_to "Log out", session_url, method: :delete %>
	<% else %>
	<div id="current_user_id" data-id="0">
	<%= link_to "Sign in", new_session_url %>
	or
	<%= link_to "Sign up", new_user_url %>
	<% end%>

	<% if flash.now[:errors] %>
		<% flash.now[:errors].each do |error| %>
			<%= error %>
		<% end %>
	<% end %>

<a href="#heats/new">Start a new game</a>

<div id="content">
	<%= yield %>
</div>

</body>
</html>
